@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Lock page scroll */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             
}


.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}